@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400&subset=cyrillic');

/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

@green:        rgba(68, 159, 66, 1);
@ligthGreen:   rgba(42, 218, 38, 1);
@gray:         rgba(222, 222, 222, 1);
@black:        rgba(31, 32, 36, 1);
@opacityWhite: rgba(255, 255, 255, 0.2);

figure{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
  font-size: 0;
}

button{
  padding: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

div, section, article, header, main, footer, button, a, input, label{
	box-sizing: border-box;
}

input::-webkit-input-placeholder{
  text-align: center;
  color: @gray;
  opacity: 1;
  font-size: 14px;
}

input::-moz-placeholder{
  text-align: center;
  color: @gray;
  opacity: 1;
  font-size: 14px;
}

input:-moz-placeholder{
  text-align: center;
  color: @gray;
  opacity: 1;
  font-size: 14px;
}

input:-ms-input-placeholder{
  text-align: center;
  color: @gray;
  opacity: 1;
  font-size: 14px;
  font-weight: 300;
}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder      {opacity: 0;}


body{
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 925px;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.wrapper{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  padding: 100px 20px 0 20px;
}

.logo{
  font-size: 0;
}

.title {
  width: 100%;
  margin: 55px 0 0 0;
}

.title__h1{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.title__description {
  max-width: 580px;
  font-size: 42px;
  font-weight: 300;
  line-height: 44px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 320px;
}

.form__field{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  color: @gray;
  background: @opacityWhite;

  &:focus{
    outline: none;
  }

  &:invalid{
    box-shadow: none;
  }
}

.currency{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.currency__title{
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  line-height: 12px;
  color: #fff;
}

.currency__wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.currency__radio{
  display: none;
}

.currency__label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: @gray;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.2s;
  transition-property: color;
}

.currency__label--ruble{
  border-radius: 20px 0 0 20px;
}

.currency__label--dollar{

  border: none;
  border-left: 1px solid @black;
  border-right: 1px solid @black;
}

.currency__radio:checked + .currency__label--dollar{
  position: relative;

  &:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: @ligthGreen;
  }

  &:before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: @ligthGreen;
  }
}

.currency__label--euro{
  border-radius: 0 20px 20px 0;
}

.currency__radio:checked +.currency__label{
  color: @ligthGreen;
  border-color: @ligthGreen;
}

.form__submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 25px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: @green;
  cursor: pointer;
  transition: 0.2s;
  transition-property: background;

  &:hover{
    background: darken(@green, 5%);
  }

  &:active{
    background: darken(@green, 10%);
  }
}

.rules{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}

.rules__text {
  width: 93%;
  color: rgba(255, 255, 255, 0.7);
}

.rules__a{
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);

  &:hover{
    text-decoration: none;
  }
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.advantages{
  .wrapper;
  justify-content: center;
}

.advantages__title{
  width: 100%;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  color: #333;
}

.trigger {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.trigger__money{
  font-size: 36px;
  font-weight: 600;
}

.trigger__description{
  width: 100%;
  font-size: 18px;
  color: @green;
}

.icons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1160px;
  color: #333;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    top: 110px;
    left: 9%;
    width: 82.5%;
    height: 3px;
    background: rgba(92, 145, 95, 1);
  }
}

.icons__icon{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    top: 99px;
    left: 91.535px;
    width: 11.379%;
    height: 23.5px;
    border-radius: 50%;
    border: 3px solid rgba(92, 145, 95, 1);
    background: #fff;
    z-index: 1;
    box-sizing: border-box;
  }
}

.icons__pic{
  width: 63px;
  height: 110px;
  background-image: url("img/icon.png");
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.icons__txt {
  width: 150px;
  margin-top: 30px;
  text-align: center;
}









@media (max-width: 1199px) {
  .icons{
    flex-direction: column;
    width: 320px;
    min-width: 320px;

      &:after{
        width: 3px;
        height: 82.5%;
        left: 0;
        top: 9%;
     }
  }

  .icons__icon{
    align-items: center;

      &:after{
        width: 23.5px;
        top: 43.25px;
        left: -9px;
      }
  }

  .icons__pic{
    background-position: 50%;
  }

  .icons__txt{
    margin: 0 0 0 20px;
    text-align: left;
  }
}




@media (max-width: 599px) {
  .header__wrapper{
    justify-content: center;
  }

  .title{
    text-align: center;
  }

  .icons{
    &:after{
      display: none;
    }
  }

  .icons__icon{
    &:after{
      display: none;
    }
  }
}